# Node modules
node_modules/

# .env
.env
.env.production

# IDEs
.vscode

# Archivos de deployment
*.zip

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml